@CHARSET "UTF-8";

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
	background-color:#f2f2f2;
}

html,body{
	height: 100%;
	width:100%;
}

#content{
	min-height: 100%;
	margin:auto;
	padding: 0 2%;
	padding-top:130px;
	width:78%;
	min-width:1024px;
	background-color:#B1D3A4;
	box-shadow: 0px 0px 15px 3px;
}

/* IE6 hack */
* html #content{
	height: 100%;
}

#content .pageMessageSuccess{
	font-size:25px;
	position: relative;
	z-index: 10;
	top: 20px;
	text-align: center;
	display: block;
	padding: 1%;
	margin: auto;
	background-color: rgba(190,255,0,0.9);
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 7px 10px -5px #000;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

#content .pageMessageError{
	font-size:25px;
	position: relative;
	z-index: 10;
	top: 20px;
	text-align: center;
	display: block;
	padding: 1%;
	margin: auto;
	background-color: #FF4500;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 7px 10px -5px #000;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

#content .pageMessageWarn{
	font-size:25px;
	position: relative;
	z-index: 10;
	top: 20px;
	text-align: center;
	display: block;
	padding: 1%;
	margin: auto;
	background-color: #FFFF66;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 7px 10px -5px #000;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

#content .pageMessageClose{
	position: absolute;
	top: -18px;
	right: -18px;
}

#top {
	min-width:1024px;
	position: absolute;
	z-index: 10;
	width: 78%;
	background-image: url('img/topbkg.png');
	background-size: 15px 125px;
	background-repeat: repeat-x;
	color: white;
	height: 85px;
	padding: 20px 11%;
}

#topLeft p{
	text-shadow:2px 2px 5px #000;
}

#top .title{
	margin:0;
	font-size:40px;
}

#top .subtitle{
	margin:0;
	font-size:15px;
}

#topLeft{
	width:22%;
	float:left;
}

#topLeft .homeButton img{
	float: left;
	width: 86px;
	margin-left: -30px;
}

#topRight{
	width:78%;
	float:left;
	text-align:right;
}

#searchBar{
	margin-top: 5px;
	float: left;
	width: 64%;
}

#searchBar .searchRadioBox{
	text-align: left;
	margin-left: 10%;
	margin-bottom: 5px;	
}

#searchBar #searchButton{
	width: 45px;
	vertical-align: -23px;
	cursor: pointer;
}

#searchBar input[type="text"]{
	width: 89%;
	height: 32px;
	border-radius: 5px;
	color: #8f8f8f;
	font-size: 20px;
	padding-left: 5px;
}

#loggedUserMenu{
	height:70px;
	float: left;
	margin-left: 4%;
	margin-top: -13px;
	width: 30%;
	text-align: left;
	background-color: #fff;
	padding: 10px 1%;
	border-radius: 15px;
}

#loggedUserMenu .loggedUserMenuPicture{
	height: 70px;
	border-radius: 10px;
	float: left;
	margin-right: 5px;
}

#loggedUserMenu .welcomeUser{
	margin-bottom: 10px;
}

#loggedUserMenu .notificationsNumber{
	background-color: #FF4500;
	padding: 3px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #000;
}

#loggedUserMenu p{
	color: #000;
	margin: 0;
	font-weight: bold;
	font-size: 15px;
}

#loggedUserMenu .logout{
	margin-top: 5px;
}

#loggedUserMenu .logout a{
	color: #276733;
	display: block;
	width: 100%;
	margin-left: 40%;
}

#loggedUserMenu .logout img{
	width: 30px;
	float: left;
	margin-left: 27%;
}

#loggedUserMenu .logout span{
	float: left;
	line-height: 25px;
	font-size: 15px;
}

.formcontainer {
	overflow: hidden;
	position: relative;
	width: 450px;
	height: 220px;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
	background-color: white;
	border: 0px solid black;
	box-shadow: 2px 2px 7px 2px;
}

#formSlider{
	width: 940px;
	height: 220px;
	position: absolute;
}

.formSliderObj{
	width: 450px;
	height: 200px;
	margin-right: 20px;
	float: left;
}

#login,#register{
	display: block;
	width: 450px;
	margin: auto;
	margin-bottom:20px;
}

.formrow{
	margin-top:5px;
	text-align:center;
}

.formcontainer label {
	display: inline-block;
	width: 225px;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
}

.formcontainer input[type="text"],.formcontainer input[type="password"] {
	width: 200px;
	height: 25px;
	border-radius: 5px;
}

.formcontainer input[type="file"]{
	width:204px;
}

#login input[type="submit"]{
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#register .formMessage, #editUserDataForm .formMessage{
	padding: 1%;
	display: none;
	margin: auto;
	background-color: #FF4500;
	width: 90%;
	border-radius: 5px;
	box-shadow: 0px 7px 10px -5px #000;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

#register input[type="button"]{
	width: 418px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

.formcontainer #switchRegisterButton, .formcontainer #switchLoginButton{
	text-decoration: none;
	display: block;
	margin: auto;
	width: 100px;
	height: 30px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#registerFormButton {
	margin: auto;
	display: block;
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

/****** PERSONALPAGE ********/
#content .userPicture{
	background-color: #fff;
	width: 250px;
	min-height: 200px;
	float: left;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 12px 19px -5px #000;
	margin-bottom: 30px;
}

#content .userPicture img{
	width:250px;
}

#content .userData{
	background-color: #fff;
	margin-top: 20px;
	height: 150px;
	border-radius: 0 110px 110px 0;
	width: 51%;
	float:left;
}

#content .userData .userDataIco{
	float: left;
	width: 150px;
}

#content .userData .dataBox{
	float:left;
	margin-top: 33px;
}

#content .userData .dataBox .fieldName{
	font-weight: bold;
	display: inline-block;
	text-align: right;
	width: 90px;
	margin-right: 10px;
	color: #276733;
}

#content .userData .dataBox .fieldData{
	font-style: italic;
	font-weight: bold;
}

#editUserData{
	width: 450px;
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
}

#editUserDataButton{
	margin: 20px 0 10px 0;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	width: 225px;
	padding: 10px;
	border-radius: 10px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	cursor: pointer;
}

#editUserDataContent{
	width: 470px;
	display: none;
}

#editUserData label {
	display: inline-block;
	width: 225px;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
}

#editUserData input[type="text"],#editUserData input[type="password"] {
	width: 200px;
	height: 25px;
	border-radius: 5px;
}

#editUserData input[type="file"]{
	width:204px;
}

#editFormButton{
	margin: auto;
	display: block;
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

.whiteTriangle{
	width: 40px;
	margin-left: 30px;
}

.personalPageList{
	float: left;
	margin-right: 10px;
	margin-bottom:15px;
}

.personalPageList p{
	margin: 0;
}

.personalPageList .date{
	margin-top: 5px;
	font-size: 10px;
}

.personalPageList h1{
	text-align: center;
	margin: 0;
	font-size: 20px;
	background-color: #276733;
	color:#fff;
	padding: 5px;
	border-radius: 5px 5px 0 0;
}

.personalPageList .requestWhite{	
	padding: 10px;
	background-color: #fff;
	border-bottom:1px dotted #000;
}

.personalPageList .requestGray{
	padding: 10px;
	background-color: #f1f2f4;
	border-bottom:1px dotted #000;
}

.personalPageList input[type="submit"]{
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	padding: 5px;
	border-radius: 5px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

.personalPageList .listContent{
	display:none;
}

.personalPageList .listContent img{
	height: 60px;
	width: 60px;
	margin-right: 5px;
	float: left;
	border-radius: 10px;
}

#personalPage .userSkills{
	background-color: #fff;
	margin-top: 25px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 20px;
	float: left;
}

#personalPage .abilitiesFieldName{
	display: block;
	font-weight: bold;
	background-color: #276733;
	color: white;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 2px #000;
}

#personalPage ul{
	margin: 0;
	padding: 10px;
	list-style-position: inside;
	list-style-image: url('img/green_dot.png');
	background-color: #f1f2f4;
	border-radius: 0 0 5px 5px;
}

#personalPage .userSkills .abilityName{
	font-size:25px;
	font-weight:bold;
}

#personalPage .userSkills .deleteAbilityButton{
	vertical-align:-3px;
	width:22px;
	margin-left:5px;
	cursor: pointer;
}

#personalPage .userSkills .deleteAbilityButtonAdded{
	vertical-align:-3px;
	width:22px;
	margin-left:5px;
	cursor: pointer;
}

#personalPage .userSkills button{
	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: 13px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	cursor: pointer;
}

#personalPage .userSkills .addAbilityMessageContent{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
}

#personalPage .userSkills .addAbilityMessage{
	display: block;
	margin: auto;
	width: 50%;
	height: 300px;
	margin-top: 10%;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	max-width: 50%;
	color: #acacac;
}

#personalPage .addAbilityMessageContent input[type="submit"]{
	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	width: 51%;
	padding: 5px;
	border-radius: 10px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	cursor: pointer;
}

#personalPage .addAbilityMessageContent .addAbilityMessageClose{
	position: absolute;
	margin-left: 75%;
	margin-top: -6%;
	cursor: pointer;
}

#personalPage .abilityCombo{
	display: block;
	margin: auto;
	width: 100%;
	background-color: #fff;
	height: 35px;
	font-size: 25px;
	border-radius: 10px;
	border: 2px solid #acacac;
}

#personalPage #abilityComboContent{
	margin-top: 10px;
	background-color: #f1f2f4;
	padding: 10px;
	border-radius: 5px;
}

#personalPage .addThisAbilityButton{
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	width: 89%;
	padding: 10px;
	border-radius: 10px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	cursor: pointer;
}
/******** END PERSONALPAGE **********/

/******** SEARCH PAGE RESULT ********/
#content .resultNumber img{
	width: 115px;
	float: left;
	border-radius: 10px 10px 0px 10px;
	background-color: #fff;
}

#content .resultNumber p{
	float: left;
	margin-top: 60px;
	font-size: 30px;
	background-color: #fff;
	padding: 10px;
	border-radius: 0 10px 10px 0;
}

#content .results{
	clear: both;
	overflow: hidden;
	border-radius: 10px;
}

#content .results .resultObj.white{
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px dotted #000;
}

#content .results .resultObj.gray{
	background-color: #f1f2f4;
	padding: 10px;
	border-bottom: 1px dotted #000;
}

#content .searchUserPicture{
	width: 100px;
	float: left;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 12px 19px -5px #000;
	margin-right: 15px;
}

#content .searchUserPicture img{
	width:100px;
}

#content .searchUserDataContent{
	float: left;
	margin-right: 20px;
}

#content .searchUserData{
	padding-top: 10px;
	float: left;
	width:400px;
	margin-right: 10px;
}

#content .searchUserDataRow .fieldName{
	font-weight: bold;
	display: inline-block;
	text-align: right;
	width: 90px;
	margin-right: 10px;
	color: #276733;
}

#content .searchUserOptionsLogged{
	float: left;	
	width: 540px;
}

#content .searchUserOptionsUnlogged{
	float: left;
	padding-top: 40px;	
	width: 450px;
}


#content .searchUserOptionsUnlogged a{
	padding: 10px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#content .searchUserOptionsLogged input[type="button"] {
	float: left;
	margin-right: 20px;
	margin-top: 30px;
	width: 250px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#content .waitingFriendshipRequest{
	float: left;
	margin-right: 20px;
	margin-top: 30px;
	width: 250px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#content .searchUserSkills{
	float:left;
}

#content .searchUserSkills .fieldName{
	font-weight: bold;	
	color: #276733;
}

#content .searchUserSkills ul{
	margin: 0;
	margin-top: 5px;
	list-style-image:url('img/green_dot.png');
}

#content .requestMessage{
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#content .requestMessage textarea{
	display: block;
	width: 40%;
	height: 40%;
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

#content .requestMessage h1{
	background-color: white;
	padding: 10px;
	width: 40%;
	margin: auto;
	margin-top: 10%;
	border-radius: 30px;
	text-align: center;
	color: #558B57;
	text-shadow: 2px 2px 1px #000;
}

#content .requestMessage input[type="button"]{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#content .requestMessage .buttonRequestContent{
	background-color: #fff;
	width: 40%;
	margin: auto;
	border-radius: 30px;
	padding: 10px;
	margin-top: 10px;
}

#content .requestMessage input[type="submit"]{
	display: block;
	margin: auto;
	width: 100%;
	height: 40px;
	background-color: #558B57;
	border-radius: 30px;
	color: white;
	font-size: 20px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}

#content .requestMessage a{
	position: absolute;
	margin-top: -8%;
	margin-left: 27%;
}

#content .requestMessage img{
	width:60px;
}

#content .noResults{
	text-align: center;
	color: #fff;
	font-size: 40px;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	border-radius: 10px;
	padding: 10px;
	width: 80%;
	margin: auto;
	margin-bottom: 15px;
}

.sendSuggestFriendshipRequestButton{
	margin: 20px 0 10px 0;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	width: 225px;
	padding: 10px;
	border-radius: 10px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	cursor: pointer;
}
/******** END SEARCH PAGE RESULT ********/

/******** START VIEW REQUEST PAGE *******/
#viewRequestPage h1{
	background-color: #276733;
	border-radius: 10px 10px 0 0;
	padding: 10px;
	color: #fff;
	display: inline-block;
	margin: 0;
	text-shadow: 2px 2px 2px #000;
}

#viewRequestPage .viewRequestUsername{
	color: #fa0;
}

#viewRequestPage .viewRequestMessage{
	background-color: #f1f2f4;
	padding: 15px 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#viewRequestPage .viewRequestContent{
	background-color: #fff;
	padding: 10px;
	border-radius: 0 10px 10px 10px;
}

#viewRequestPage .viewRequestContent .username{
	font-style: italic;
	margin: 0 0 10px 5px;
}

#viewRequestPage textarea{
	display: block;
	max-width:99%;
	width: 99%;
	height:300px;
	margin: auto;
	border: 2px inset;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 18px;
	padding: 5px;
	color: #acacac;
}

#viewRequestPage .viewRequestContent .accept{
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	margin-right: 20px;
}

#viewRequestPage .viewRequestContent .decline{
	width: 205px;
	height: 40px;
	background-color: #FF4500;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #CC4500;
	border-right: 2px solid #CC1100;
}

/******** END VIEW REQUEST PAGE *******/

/******** START VIEW RESPONSE PAGE *******/
#viewResponsePage h1{
	background-color: #276733;
	border-radius: 10px 10px 0 0;
	padding: 10px;
	color: #fff;
	display: inline-block;
	margin: 0;
	text-shadow: 2px 2px 2px #000;
}

#viewResponsePage .viewResponseUsername{
	color: #fa0;
}

#viewResponsePage .viewResponseContent{
	background-color: #fff;
	padding: 10px;
	border-radius: 0 10px 10px 10px;
}

#viewResponsePage .viewResponseContent .username{
	font-style: italic;
	margin: 0 0 10px 5px;
}

#viewResponsePage .viewResponseMessage{
	background-color: #f1f2f4;
	padding: 15px 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#viewResponsePage .viewResponseContent .ok{
	width: 205px;
	height: 40px;
	background-color: #558B57;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
	margin-right: 20px;
}

#viewResponsePage .viewResponseContent .cancel{
	width: 205px;
	height: 40px;
	background-color: #FF4500;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border: none;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #CC4500;
	border-right: 2px solid #CC1100;
}

#viewResponsePage .viewResponseContent textarea{
	display: block;
	margin: auto;
	width: 98%;
	height: 300px;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	max-width: 98%;
	color: #acacac;
	margin-bottom: 10px;
}

#viewResponsePage .viewResponseContent .rate{
	display: block;
	width: 10%;
	background-color: #fff;
	font-size: 25px;
	border-radius: 10px;
	border: 2px solid #acacac;
}
/******** END VIEW RESPONSE PAGE *******/

/******** START ADMIN PAGE *****************/
#administrationPage #abilitySet{
	float: left;
	margin-bottom: 10px;
}

#administrationPage #abilitySet .abilitiesFieldName{
	display: block;
	text-align: center;
	margin: 0;
	font-size: 20px;
	background-color: #276733;
	color: #fff;
	padding: 5px;
	border-radius: 5px 5px 0 0;
}

#administrationPage #abilitySet ul{
	list-style-image: url('img/green_dot.png');
	background-color: #fff;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 0 0 10px 10px;
}

#administrationPage #abilityRequestsList{
	clear: both;
}

#administrationPage #abilitySet form{
	background-color: #dedede;
	padding:5px;
}

#administrationPage #abilitySet input[type="text"]{
	border-radius: 5px;
	width: 150px;
	height: 25px;
	font-size: 20px;
}

#administrationPage #abilitySet input[type="submit"]{
	color: white;
	text-shadow: 2px 2px 2px #000;
	background-color: #276733;
	padding: 5px;
	border-radius: 5px;
	border-left: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
	border-bottom: 2px solid #83AF7F;
	border-right: 2px solid #83AF7F;
}
/********* END ADMIN PAGE *****************/